// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-hero--use-css: true !default;
$ce-hero--layout-default: true !default;
$ce-hero--layout-video: true !default;
$ce-hero--layout-slider: true !default;
$ce-hero--layout-container: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../functions';
@import '../variables';
@import '../mixins';
@import '../definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Definitions
%hero--title {
	& {
		margin: rem(35px) 0 0 0;
	}

	&, h1, h2, h3, h4, h5, h6 {
		font-size: rem(34px);
		font-weight: $headings-font-weight;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@if($ce-hero--use-css) {
	@if($ce-hero--layout-default) {
		.ce-hero {
			.hero--title {
				@extend %hero--title;
			}

			.hero--image {
				img {
					@extend %image-responsive;
				}
			}
		}
	}

	@if($ce-hero--layout-video) {
		//.hero--video {
		//	video {
		//		max-width: 100%;
		//	}
		//
		//	.hero--video-control-play {
		//		@extend %button--rounded-icon;
		//		position: absolute;
		//		bottom: rem(10px);
		//		left: rem(10px);
		//	}
		//
		//	.hero--video-control-play-default {
		//		left: 2px;
		//	}
		//
		//	.hero--video-control-play-large,
		//	.hero--video-control-pause-large {
		//		display: none;
		//	}
		//
		//	&.hero--video-played {
		//		.hero--video-control-play-default {
		//			display: none;
		//		}
		//	}
		//
		//	&.hero--video-paused {
		//		.hero--video-control-pause-default {
		//			display: none;
		//		}
		//	}
		//}

		@include media-breakpoint-up(lg) {
		//	.hero--video {
		//		cursor: pointer;
		////		--button--rounded-icon-size: #{rem(96px)};
		//		--button--rounded-icon-svg-size: #{rem(21px)};
		////
		//		.hero--video-control-play {
		//			bottom: rem(15px);
		//			left: rem(35px);
		//			//opacity: 0;
		//			transition: opacity $transition-duration;
		//		}
		////
		////		.hero--video-control-play-default,
		////		.hero--video-control-pause-default {
		////			display: none;
		////		}
		////
		////		.hero--video-control-play-large {
		////			left: 3px;
		////		}
		////
		////		&.hero--video-played {
		////			.hero--video-control-pause-large {
		////				display: block;
		////			}
		////		}
		////
		////		&.hero--video-paused {
		////			.hero--video-control-play-large {
		////				display: block;
		////			}
		////		}
		////
		//		&:hover, .focusable &:focus {
		//			.hero--video-control-play {
		//				opacity: 1;
		//			}
		//		}
		//	}
		}
		//
		//@include media-breakpoint-up(lg) {
		//	.hero--video {
		//		--button--rounded-icon-size: #{rem(128px)};
		//		--button--rounded-icon-svg-size: #{rem(40px)};
		//	}
		//}
	}

	.ce-hero--16-9 {
		.hero--image {
			& {
				position: relative;
				padding-top: 56.25%;
			}

			img {
				position: absolute;
				top: 0; left: 0; right: 0;
			}
		}

		//.hero--video {
		//	& {
		//		position: relative;
		//		padding-top: 56.25%;
		//		overflow: hidden;
		//	}
		//
		//	video {
		//		position: absolute;
		//		top: 2px; left: 2px;
		//		width: calc(100% + 2px);
		//		height: calc(100% + 2px);
		//		z-index: 10;
		//		object-fit: cover;
		//	}
		//}
	}

	.ce-hero--layout-fullwidth {
		.hero {
			& {
				min-height: rem(500px);
				padding-top: 0.1px;
				padding-bottom: 0.1px;
				background-position: center center;
				background-size: cover;
				position: relative;
				z-index: 5;
			}

			.container-inner {
				margin-top: rem(35px);
			}
		}

		.hero--background {
			position: absolute;
			top: -1px; bottom: -1px;
			left: 0;
			width: 100%;
			z-index: -1;
			background-position: center center;
			background-size: cover;
		}
	}

	@if($ce-hero--layout-slider) {
		.ce-hero-slider {
			.hero--image {
				img {
					@extend %image-responsive;
				}
			}

			// ---------------------------------------------------------------------------------------------------------------
			// Allgemeine Slider-Angaben
			.slider {
				position: relative;
				overflow: hidden; // 1
			}

			.slider--container {
				& {
					margin: 0;
					padding: 0;
					list-style: none;
					background: #fff;
				}

				& > li {
					display: block;
					margin: 0;
					padding: 0;
				}
			}

			.slider--item + .slider--item {
				visibility: hidden; // 1
			}

			.slider--controls {
				& {
					position: absolute;
					top: 0;
					width: 100%;
					display: none; // erst auf hoehren Breakpoints anzeigen -> dann steht rechts / links mehr Platz zur Verfuegung
				}

				.container-inner {
					position: relative;
				}
			}

			.slider--prev, .slider--next {
				& {
					position: absolute;
					z-index: 10;
					display: flex;
					align-items: center;
				}

				button {
					& {
						width: $spacing-medium;
						height: 100px;
					}

					&:hover {
						svg {
							fill: $link-color-hover;
						}
					}
				}

				svg {
					width: 35px;
					fill: $theme-color-primary;
					transition: fill 0.35s;
				}
			}

			// Padding von .container-outer wieder aufheben
			.slider--prev {
				left: -$spacing-medium;
			}

			.slider--next {
				right: -$spacing-medium;
			}

			.slider--navigation {
				position: absolute;
				bottom: rem(46px);
				z-index: 10;
				width: 100%;
			}

			// ---------------------------------------------------------------------------------------------------------------
			// Layout 16:9
			&.ce-hero--16-9 {
				.slider {
					@extend %slider-navigation;
					padding: 56.25% 0 0 0;
				}

				.slider--container {
					position: absolute;
					top: 0; left: 0;
					width: 100%;
					height: 100%;
				}
			}

			// ---------------------------------------------------------------------------------------------------------------
			// Layout Fullwidth
			&.ce-hero--layout-fullwidth {
				.slider, .slider--prev, .slider--next {
					min-height: rem(400px);
				}
			}

			.slider--initialized {
				.slider--item + .slider--item {
					visibility: visible;
				}
			}

			@include media-breakpoint-up(md) {
				&.ce-hero--layout-fullwidth {
					.slider, .slider--prev, .slider--next, .hero {
						height: rem(500px);
					}
				}
			}

			@include media-breakpoint-up(lg) {
				&.ce-hero--layout-fullwidth {
					.slider, .slider--prev, .slider--next, .hero {
						height: rem(600px);
					}
				}
			}

			@include media-breakpoint-up(xl) {
				.slider--controls {
					display: block;
				}

				.slider--prev, .slider--next {
					button {
						width: rem(50px);
						height: 100px;
					}
				}

				// Padding von .container-outer wieder aufheben
				.slider--prev {
					left: rem(-50px);
				}

				.slider--next {
					right: rem(-50px);
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Site Override
.ce-header + .ce-hero, .ce-header + .ce-hero-slider {
	&.ce-frame--space-before-auto {
		margin-top: rem(35px);
	}
}

.ce-hero-slider {
	.slider {
		@extend %slider-navigation--dashed;
	}

	.slider--item.tns-fadeOut {
		z-index: 1;
	}

	.slider--navigation {
		& {
			bottom: rem(30px);
		}

		ul {
			justify-content: center;
		}
	}
}

// >= 1200px
@include media-breakpoint-up(xl) {
	.ce-hero.ce-frame--space-after-auto, .ce-hero-slider.ce-frame--space-after-auto {
		& + .ce-frame--class-1, & + .ce-frame--class-2, & + .ce-frame--class-3, & + .ce-frame--class-4 {
			margin-top: rem(35px);
		}
	}

	.ce-hero-slider {
		.slider .slider--navigation {
			& {
				bottom: rem(46px);
			}

			ul li {
				width: rem(60px);
				height: rem(9px);
			}
		}
	}
}