// ---------------------------------------------------------------------------------------------------------------------
// Global
@import "../../../../../ps14_theme/Resources/Public/Sass/variables";
@import "../../../../../ps14_theme/Resources/Public/Sass/functions";
@import "../../../../../ps14_theme/Resources/Public/Sass/mixins";

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-gallery--use-css: true !default;
$ps14-gallery--layout-default: true !default;
$ce-gallery--layout-slider: false !default;
$ce-gallery--layout-hero-slider: false !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@if($ce-gallery--use-css) {

	// -------------------------------------------------------------------------------------------------------------------
	// CSS Variablen
	:root {
		--gallery--slider-height: 400px;
	}

	@if($ps14-gallery--layout-default) {
		.ce-images--gallery {
			.ce-heading {
				text-align: center;
			}

			.ce-heading + .gallery {
				margin-top: var(--ce-spacing-heading);
			}

			.gallery--container {
				& {
					display: grid;
					grid-template-rows: repeat(1, 1fr);
					grid-template-columns: repeat(12, 1fr);
					gap: var(--spacing-400);
					margin: 0;
					padding: 0;
					list-style: none;
				}

				& > li {
					position: relative;
					margin: 0;
					padding: 0;
					grid-column: auto/span 12;
				}
			}

			.readmore-container {
				.readmore-container--collapse {
					margin: -3px;
					padding: 3px;
				}

				.gallery__item:nth-child(1n+5) {
					display: none;
				}

				&.readmore-container-open,
				&.readmore-container-opened {
					.gallery__item:nth-child(1n+1) {
						display: block;
					}
				}
			}

			.gallery-readmore {
				& {
					position: absolute;
					top: 0; left: 0;
					z-index: 10;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: rem(16px);
					border: 0;
					color: var(--color-primary-50);
					background: var(--color-primary-500);
					border-radius: var(--border-radius-small);
					cursor: pointer;
				}

				&:hover, &:focus-visible {
					background: var(--color-primary-800);
				}

				&__icon {
					display: block;
					width: rem(36px);
					height: rem(36px);
				}

				&__label {
					display: flex;
					gap: rem(4px);
				}
			}

			.gallery--image {
				& {
					display: block;
					//margin-top: var(--grid__gap);
					border: 5px solid #b1b1b1;
				}

				&:hover {
					border-color: #fff;
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
					border-radius: var(--border-radius-small);
				}
			}
		}
	}

	//@if($ce-gallery--layout-slider) {
	//	.ce-gallery--slider {
	//		.gallery--container {
	//			& {
	//				display: flex;
	//				margin: 0;
	//				padding: 0;
	//				list-style: none;
	//
	//				height: var(--gallery--slider-height);
	//				overflow: hidden;
	//			}
	//
	//			& > li {
	//				display: block;
	//				margin: 0;
	//				padding: 0;
	//			}
	//		}
	//
	//		.gallery--image {
	//			@extend %accessibility-focus-overflow;
	//		}
	//
	//		.slider {
	//			& {
	//				@extend %slider-controls;
	//				@extend %slider-controls--inline;
	//				@extend %slider-navigation;
	//				@extend %slider-navigation--bullets;
	//				margin: $spacing-default 0 0 0;
	//			}
	//
	//			.slider--interface {
	//				display: grid;
	//				grid-template-columns: 1fr 1fr;
	//				grid-template-rows: 50px;
	//				grid-template-areas: 'slider--controls slider--navigation';
	//				margin-top: rem(10px);
	//			}
	//
	//			.slider--controls {
	//				grid-area: slider--controls;
	//			}
	//
	//			.slider--navigation {
	//				grid-area: slider--navigation;
	//				justify-self: right;
	//				align-self: center;
	//			}
	//		}
	//
	//		.slider--initialized {
	//			.gallery--container {
	//				overflow: inherit;
	//			}
	//		}
	//	}
	//}

	//@if($ce-gallery--layout-hero-slider) {
	//	.ce-gallery--hero-slider {
	//		.gallery {
	//			position: relative;
	//			overflow: hidden;
	//		}
	//
	//		.gallery:before {
	//			content: '';
	//			display: block;
	//			padding-top: 56.25%;
	//		}
	//
	//		.gallery--container {
	//			& {
	//				position: absolute;
	//				top: 0;
	//				left: 0; right: 0;
	//				margin: 0;
	//				padding: 0;
	//				list-style: none;
	//
	//			}
	//
	//			& > li {
	//				display: block;
	//				margin: 0;
	//				padding: 0;
	//			}
	//		}
	//
	//		.slider--interface {
	//			position: absolute;
	//			bottom: 10px;
	//			left: 0; right: 0;
	//			z-index: -1;
	//			opacity: 0;
	//		}
	//
	//		.gallery--image {
	//			img {
	//				@extend %image-responsive;
	//			}
	//		}
	//
	//		//.gallery--image {
	//		//	& {
	//		//		position: relative;
	//		//		padding-top: 56.25%;
	//		//	}
	//		//
	//		//	img {
	//		//		position: absolute;
	//		//		top: 0; left: 0;
	//		//	}
	//		//}
	//
	//		.slider {
	//			& {
	//				@extend %slider-controls;
	//				@extend %slider-controls--inline;
	//				@extend %slider-navigation;
	//				@extend %slider-navigation--bullets;
	//				margin: $spacing-default 0 0 0;
	//			}
	//
	//			.slider--interface {
	//				position: absolute;
	//				bottom: 10px;
	//				left: 0; right: 0;
	//
	//				display: grid;
	//				grid-template-columns: 1fr 1fr;
	//				grid-template-rows: 50px;
	//				grid-template-areas: 'slider--controls slider--navigation';
	//				margin-top: rem(10px);
	//			}
	//
	//			.slider--controls {
	//				grid-area: slider--controls;
	//			}
	//
	//			.slider--navigation {
	//				grid-area: slider--navigation;
	//				justify-self: right;
	//				align-self: center;
	//			}
	//		}
	//
	//		.slider--initialized {
	//			.gallery--container {
	//				overflow: inherit;
	//			}
	//		}
	//	}
	//}

	@include media-breakpoint-up(sm) {
		@if($ps14-gallery--layout-default) {
			.ce-images--gallery {
				.gallery--container {
					& {
						gap: rem(32px);
					}
					//& {
					//	margin-top: -10px; // Ausgleich um wieder auf 20px zu kommen
					//}

					& > li {
						grid-column: auto/span 6;
					}
				}

				//.gallery--image {
				//	margin-top: var(--grid__gap);
				//}
			}
		}
	}

	@include media-breakpoint-up(md) {
		@if($ps14-gallery--layout-default) {
			.ce-images--gallery {
				.gallery--container > li {
					grid-column: auto/span 3;
				}
			}
		}
	}
}

.ce-images--gallery {
	.gallery--image {
		& {
			border: 0;
		}

		img {
			outline: 3px solid transparent;
			transition: outline var(--transition-duration-default);
			object-fit: contain;
		}

		&:hover, .focusable &:focus {
			img {
				outline-color: var(--color-primary-500);
			}
		}
	}
}