// ---------------------------------------------------------------------------------------------------------------------
// Global
@import "../../../../../ps14_theme/Resources/Public/Sass/variables";
@import "../../../../../ps14_theme/Resources/Public/Sass/functions";
@import "../../../../../ps14_theme/Resources/Public/Sass/mixins";


// ---------------------------------------------------------------------------------------------------------------------
// CSS
.ce-sketch {
	.ce-heading__title {
		text-align: center;
	}
}

.sketch {
	& {
		margin: var(--ce-spacing-heading) 0 0 0;
	}

	&__floor-container {
		display: none;
	}
}

.sketch-listing {
	& {
		//display: flex;
		//flex-direction: column;
		//gap: rem(50px);
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--spacing-600);
	}

	&__item {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__button {
		& {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: rem(20px);
			border: 0;
			background: var(--color-secondary-100);
			cursor: pointer;
			padding: rem(20px);
			border-radius: var(--border-radius-small);
			transition: background var(--transition-duration-fast);
		}

		&:hover {
			& {
				background: var(--color-secondary-500);
				color: var(--color-secondary-100);
			}

			.sketch-listing__thumbnail {
				color: var(--color-secondary-100);
			}
		}
	}

	&__title {
		font-weight: var(--font-weight-semibold);
		transition: color var(--transition-duration-fast);
	}

	&__thumbnail {
		width: 100%;
		color: var(--color-secondary-500);
	}
}

.sketch-floor {
	& {
		padding: rem(30px);
		background: var(--color-secondary-50);
		border-radius: var(--border-radius-medium);
	}

	&__title {
		--header-2__spacing-top: 0;

		////@include header-2;
		//@extend .header-2;
		margin: 0 0 var(--ce-spacing-heading) 0;
		text-align: center;
	}

	&__image {
		color: var(--color-secondary-500);
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(30px);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.sketch-listing {
		& {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.sketch-floor {
		&__body {
			grid-template-columns: 2fr 1fr;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 992px
@include media-breakpoint-up(lg) {
	.sketch-listing {
		& {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}