<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<link	rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'Icons/apple-touch-icon.png', extensionName: 'Ps14Site')}" />
	<link	rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'Icons/favicon-96x96.png', extensionName: 'Ps14Site')}" />
	<link	rel="icon" type="image/svg+xml" href="{f:uri.resource(path: 'Icons/favicon.svg', extensionName: 'Ps14Site')}" />
	<link	rel="shortcut icon" href="{f:uri.resource(path: 'Icons/favicon.ico', extensionName: 'Ps14Site')}" />
</html>