@use "../mixins/richtext" as *;
@use "../bootstrap/typography" as *;

// ---------------------------------------------------------------------------------------------------------------------
// Ueberschriften
.heading {
	&--layout-1 {
		.heading__main {
			@extend .display-1;
		}
	}

	&--layout-2 {
		.heading__main  {
			@extend .display-2;
		}
	}

	&--layout-3 {
		.heading__main  {
			@extend .display-3;
		}
	}

	&--layout-4 {
		.heading__main {
			@extend .display-4;
		}
	}

	&__title {
		&--align-left {
			text-align: left;
		}

		&--align-center {
			text-align: center;
		}

		&--align-right {
			text-align: right;
		}
	}


	& + .richtext {
		margin-top: var(--spacing-heading);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Richtext (Bodytext)
.richtext {
	@include richtext;
}
