.container {
	&--outer {
		padding-left: var(--container-spacing-x);
		padding-right: var(--container-spacing-x);
	}

	&__inner {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		container-type: inline-size;
	}

	// -------------------------------------------------------------------------------------------------------------------
	// Abstaende
	&--space-before-small,
	&--space-before-medium,
	&--space-before-large,
	&--space-before-huge {
		padding-top: 0.1px; // eventuelle Margins innerhalb spannen den Container auf
	}

	&--space-after-small,
	&--space-after-medium,
	&--space-after-large,
	&--space-after-huge {
		padding-bottom: 0.1px; // eventuelle Margins innerhalb spannen den Container auf
	}

	&--space-before-small > &__inner {
		margin-top: var(--container-spacing-y-small);
	}

	&--space-before-medium > &__inner {
		margin-top: var(--container-spacing-y-medium);
	}

	&--space-before-large > &__inner {
		margin-top: var(--container-spacing-y-large);
	}

	&--space-before-huge > &__inner {
		margin-top: var(--container-spacing-y-huge);
	}

	&--space-after-small > &__inner {
		margin-bottom: var(--container-spacing-y-small);
	}

	&--space-after-medium > &__inner {
		margin-bottom: var(--container-spacing-y-medium);
	}

	&--space-after-large > &__inner {
		margin-bottom: var(--container-spacing-y-large);
	}

	&--space-after-huge > &__inner {
		margin-bottom: var(--container-spacing-y-huge);
	}

	// -------------------------------------------------------------------------------------------------------------------
	// Laufweiten (Layout)

	/* stylelint-disable-next-line no-duplicate-selectors */
	&--outer {
		// 0: keine Einrueckung, maximale Laufweite
		&.container--layout-0 > .container__inner {
			max-width: var(--container-max-width);
		}

		// keine Einrueckung, volle Laufweite
		&.container--layout-1 {
			padding-left: 0;
			padding-right: 0;

			& > .container__inner {
				max-width: 100%;
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------------------------
// Sonderregeln
.page__main {
	& > .container--space-before-auto:first-child {
		padding-top: 0.1px;

		.container__inner {
			margin-top: var(--container-spacing-y-medium);
		}
	}

	& > .container--space-after-auto:last-child {
		padding-bottom: 0.1px;

		.container__inner {
			margin-bottom: var(--container-spacing-y-medium);
		}
	}
}
