// ---------------------------------------------------------------------------------------------------------------------
// Pre-Define Variables
$iconfont-create-font-face: false !default;
$iconfont-create-icon-class: false !default;

$stylesheet-context: 'screen' !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../functions';
@import '../../variables';
@import '../../mixins';
@import '../../definitions';

// ---------------------------------------------------------------------------------------------------------------------
// CSS-Variablen
:root {
	--accordion--container-space-after: #{rem(45px)};
}

// ---------------------------------------------------------------------------------------------------------------------
// Accordion
@include stylesheet-context($stylesheet-context-screen) {
	.accordion {
		& {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.accordion--header {
			h1, h2, h3, h4 {
				margin-top: 0;
				font-size: inherit;
			}

			button {
				& {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: rem(15px 0);
					border: 0;
					border-bottom: 1px solid $color-grey-light;
					background: transparent;
					font-weight: $font-weight-normal;
					text-align: left;
					color: $font-color-base;
					cursor: pointer;
				}

				&[aria-expanded=true] {
					svg {
						transform: rotate(180deg);
					}
				}
			}

			svg {
				display: block;
				width: 19px;
				height: 11px;
				margin: 0 4px 0 0;
				transition: transform $transition-duration;
			}
		}

		// Accordeon-Elemente mit direkter Texteingabe
		.accordion--container-default {
			margin-top: rem(30px);
			margin-bottom: var(--accordion--container-space-after);
		}

		// Accordeon-Elemente mit unter Inhaltselementen
		.accordion--container-record {
			& > .ce-frame--space-after-auto:last-child .ce-frame--inner {
				margin-bottom: var(--accordion--container-space-after);
			}
		}

		& > li:last-child {
			.accordion--container-default,
			.accordion--container-record > .ce-frame--space-after-auto:last-child .ce-frame--inner {
				margin-bottom: 0;
			}
		}
	}

	// ---------------------------------------------------------------------------------------------------------------------
	// >= 768px
	@include media-breakpoint-up(md) {
		:root {
			--accordion--container-space-after: #{rem(65px)};
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Print
@include stylesheet-context($stylesheet-context-print) {
	.accordion {
		.accordion--header button {
			& {
				display: block;
				padding: 0;
				border: 0;
			}

			svg {
				display: none;
			}
		}

		.accordion--container-default {
			margin-top: 20px;
			margin-bottom: 40px;
		}

		.collapse {
			display: block !important;
		}
	}
}