<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Plugin"/>

	<f:section name="Header" />
	<f:section name="Main">

		<f:render partial="Address/Layout/{record.tx_foundation_variant -> fo:format.ucFirst()}" section="Main" arguments="{_all}" optional="true">
			<f:render partial="Address/Layout/Default" section="Main" arguments="{_all}" />
		</f:render>

	</f:section>
</html>