<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="{pageLayout}" />

	<f:section name="Header">
		<f:comment>
			<f:cObject typoscriptObjectPath="block.contentHeader" />
		</f:comment>
	</f:section>

	<f:section name="Main">
		<f:cObject typoscriptObjectPath="block.contentMain" />
	</f:section>

	<f:section name="Product">
		<f:cObject typoscriptObjectPath="block.contentProduct" />
	</f:section>

	<f:section name="Footer">
		<f:if condition="{data.layout} != 5">
			<f:cObject typoscriptObjectPath="block.contentFooter" />
		</f:if>
	</f:section>
</html>