// ---------------------------------------------------------------------------------------------------------------------
// Variables
:root {
	// --media-group-rows: 1fr;
	// --media-group-columns: 1fr;
}

// ---------------------------------------------------------------------------------------------------------------------
// Media Group
.heading + .media-group {
	margin-top: var(--spacing-heading);
}

.media-group {
	display: flex;
	gap: 24px;
	align-items: flex-start;
}

.media-group--column-2 {
	flex-wrap: wrap;

	@container (min-width: 530px) {
		flex-wrap: nowrap;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Alignment
.media-group--horizontal-center {
	justify-content: center;
}

.media-group--horizontal-right {
	justify-content: end;
}