<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<ol class="marker--legend">
			<f:for each="{elements}" as="element" iteration="iterator">
				<f:render section="Item" arguments="{data: data, element: element.data, iterator: iterator, headerLayout: data.tx_foundation_elements_header}" />
			</f:for>
		</ol>
	</f:section>

	<f:section name="Item">
		<li class="marker--legend-item">
			<div class="marker--legend-item-index">{iterator.cycle}</div>

			<f:if condition="{element.title}">
				<div class="marker--legend-item-title">
					<f:render partial="Header/Header" arguments="{header: element.title, layout: headerLayout}" />
				</div>
			</f:if>

			<f:if condition="{element.description}">
				<f:format.html>{element.description}</f:format.html>
			</f:if>
		</li>
	</f:section>
</div>