@use "sass:color";

@function hex-to-hsla($color, $alpha: 1) {
	// Konvertiere HEX in HSL-Komponenten
	$hue: color.hue($color);
	$saturation: color.saturation($color);
	$lightness: color.lightness($color);

	// Gebe den HSLA-Wert zurück
	@return hsla($hue, $saturation, $lightness, $alpha);
}