@use "sass:math";
@use "sass:list";
@use "sass:meta";

@function rem($values...) {
	$base-font-size: 16px;
	$rem-values: ();

	@each $value in $values {
		@if $value == 0 or $value == 0px {
			$rem-values: list.append($rem-values, 0);
		} @else if meta.type-of($value) == 'number' and not math.is-unitless($value) and math.unit($value) == 'px' {
			$new-rem: math.div($value, $base-font-size);
			$rem-values: list.append($rem-values, #{$new-rem}rem);
		} @else {
			$rem-values: list.append($rem-values, #{$value}rem);
		}
	}

	@if list.length($rem-values) == 1 {
		@return list.nth($rem-values, 1);
	} @else {
		@return $rem-values;
	}
}