<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="LocalBusiness">
	<address class="address">
		<f:render section="Name" arguments="{_all}" />

		<div class="address--item-group">
			<f:render section="Location" arguments="{_all}" />
		</div>

		<f:render section="Contact" arguments="{_all}" />
		<f:render section="OpeningHours" arguments="{_all}" />

		<f:if condition="{settings.structuredDataType} == 'localBusiness'">
			<fo:jsonLd.localBusiness address="{address}" />
		</f:if>
	</address>
</f:section>

<f:section name="Name">
	<f:if condition="{address.name}">
		<div class="address--name">{address.name}</div>
	</f:if>
</f:section>

<f:section name="Description">
	<f:if condition="{address.description}">
		<div class="address--item address--description"><f:format.html>{address.description}</f:format.html></div>
	</f:if>
</f:section>

<f:section name="AdditionalDescription">
	<f:if condition="{address.additionalDescription}">
		<div class="address--item address--additional-description"><f:format.html>{address.additionalDescription}</f:format.html></div>
	</f:if>
</f:section>

<f:section name="Location">
	<f:if condition="{address.address}">
		<div class="address--item address--street">{address.address}</div>
	</f:if>

	<f:if condition="{address.zip} && {address.city}">
		<div class="address--item">
			<span class="address--item address--zip">{address.zip}</span>
			<span class="address--item address--city">{address.city}</span>
		</div>
	</f:if>

	<f:render section="GoogleMapsLink" arguments="{_all}" />
</f:section>

<f:section name="GoogleMapsLink">
	<f:if condition="{address.latitude} && {address.longitude}">
		<div class="address--item address--google-maps-link"><a href="https://www.google.com/maps/place/{address.latitude},{address.longitude}" target="_blank"><f:translate key="LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:address.google-maps-link" /></a></div>
	</f:if>
</f:section>

<f:section name="Contact">
	<f:render section="Phone" arguments="{_all}" />
	<f:render section="Mail" arguments="{_all}" />
	<f:render section="Url" arguments="{_all}" />
</f:section>

<f:section name="Phone">
	<f:if condition="{address.phone}">
		<div class="address--item address--phone"><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:phone" />: <a class="link--phone" href="{fo:uri.phone(phone: address.phone)}">{address.phone}</a></div>
	</f:if>
</f:section>

<f:section name="Mail">
	<f:if condition="{address.email}">
		<div class="address--item address--mail"><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:mail" />: <f:link.email class="link--mail" email="{address.email}" /></div>
	</f:if>
</f:section>

<f:section name="Url">
	<f:if condition="{address.www}">
		<div class="address--item address--url"><f:link.external class="link--url" uri="{address.www}" target="_blank" rel="noopener">{address.www}</f:link.external></div>
	</f:if>
</f:section>

<f:section name="Legal">
	<f:render section="Directors" arguments="{_all}" />
	<f:render section="VatNumber" arguments="{_all}" />
	<f:render section="CommercialRegister" arguments="{_all}" />
	<f:render section="RegisteredOffice" arguments="{_all}" />
</f:section>

<f:section name="Directors">
	<f:if condition="{address.directors}">
		<div class="address--item address--directors"><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:address.directors" />: {address.directors}</div>
	</f:if>
</f:section>

<f:section name="VatNumber">
	<f:if condition="{address.vatNumber}">
		<div class="address--item address--vat-number"><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:address.vatnumber" />: {address.vatNumber}</div>
	</f:if>
</f:section>

<f:section name="CommercialRegister">
	<f:if condition="{address.commercialRegister}">
		<div class="address--item address--commercial-register"><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:address.commercialregister" />: {address.commercialRegister}</div>
	</f:if>
</f:section>

<f:section name="RegisteredOffice">
	<f:if condition="{address.registeredOffice}">
		<div class="address--item address--registered-office"><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:address.registeredoffice" />: {address.registeredOffice}</div>
	</f:if>
</f:section>

<f:section name="OpeningHours">
	<f:if condition="{address.openingHours} || {address.openingHoursDescription}">
		<div class="address--item-group address--opening-hours">
			<header><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:address.openinghours" /></header>

			<f:render section="OpeningHoursDaysGrouped" arguments="{_all}" />
			<f:render section="OpeningHoursDescription" arguments="{_all}" />

			<f:comment>
				<f:render section="OpeningHoursDays" arguments="{openingHours: address.openingHours}" />
			</f:comment>
		</div>
	</f:if>
</f:section>

<f:section name="OpeningHoursDays">
	<f:if condition="{openingHours}">
		<dl class="address--item address--opening-hours-days">
			<f:for each="{openingHours}" as="openingHour">
				<dt>
					<f:if condition="{openingHour.daysTitle}">
						<f:then>{openingHour.daysTitle}</f:then>
						<f:else>{openingHour.daysListing -> fo:iterable.implode(separator: ', ')}</f:else>
					</f:if>
				</dt>
				<dd><f:format.date format="H:i">{openingHour.openAt}</f:format.date> - <f:format.date format="H:i">{openingHour.closeAt}</f:format.date></dd>
			</f:for>
		</dl>
	</f:if>
</f:section>

<f:section name="OpeningHoursDaysGrouped">
	<f:if condition="{address.openingHours}">
		<ul class="address--item-group address--opening-hours-grouped">
			<fo:grouped each="{address.openingHours}" groupBy="category" groupKey="category" as="openingHours">
				<li>
					<div class="address--opening-hours-grouped-title">{category.title}</div>
					<f:render section="OpeningHoursDays" arguments="{openingHours: openingHours}" />
				</li>
			</fo:grouped>
		</ul>
	</f:if>
</f:section>

<f:section name="OpeningHoursDescription">
	<f:if condition="{address.openingHoursDescription}">
		<div class="address--item address--opening-hours-description">
			<f:format.html>{address.openingHoursDescription}</f:format.html>
		</div>
	</f:if>
</f:section>

<f:section name="Social">
	<div class="address--item-group address--social">
		<header><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:address.social" /></header>

		<f:render section="Facebook" arguments="{_all}" />
		<f:render section="Twitter" arguments="{_all}" />
		<f:render section="LinkedIn" arguments="{_all}" />
		<f:render section="Instagram" arguments="{_all}" />
		<f:render section="Youtube" arguments="{_all}" />
	</div>
</f:section>

<f:section name="Facebook">
	<f:if condition="{address.facebook}">
		<div class="address--item address--facebook"><f:link.typolink parameter="{address.facebook}">{address.facebook}</f:link.typolink></div>
	</f:if>
</f:section>

<f:section name="Twitter">
	<f:if condition="{address.twitter}">
		<div class="address--item address--twitter"><f:link.typolink parameter="{address.twitter}">{address.twitter}</f:link.typolink></div>
	</f:if>
</f:section>

<f:section name="LinkedIn">
	<f:if condition="{address.linkedin}">
		<div class="address--item address--linkedin"><f:link.typolink parameter="{address.linkedin}">{address.linkedin}</f:link.typolink></div>
	</f:if>
</f:section>

<f:section name="Instagram">
	<f:if condition="{address.instagram}">
		<div class="address--item address--instagram"><f:link.typolink parameter="{address.instagram}">{address.instagram}</f:link.typolink></div>
	</f:if>
</f:section>

<f:section name="Youtube">
	<f:if condition="{address.youtube}">
		<div class="address--item address--youtube"><f:link.typolink parameter="{address.youtube}">{address.youtube}</f:link.typolink></div>
	</f:if>
</f:section>
</html>