
<div class="form__item form__item--button form__item-{field.marker} form__item--width-{field.columnWidth} powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:form.button type="submit" class="button button--primary-outline {settings.styles.framework.submitClasses}">{field.title}</f:form.button>
	</div>
</div>
