// ---------------------------------------------------------------------------------------------------------------------
// Component
.component-container {
	margin-top: var(--spacing-element);
}

.component-container__title {
	margin-bottom: var(--spacing-heading);
}

// ---------------------------------------------------------------------------------------------------------------------
// Colors
.component-color-group {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 8px;
}

.component-color-group__item {
	flex: 1;
	aspect-ratio: 1;
}

.component-color-group__item--primary-50 {
	background: var(--color-primary-50);
}

.component-color-group__item--primary-100 {
	background: var(--color-primary-100);
}

.component-color-group__item--primary-200 {
	background: var(--color-primary-200);
}

.component-color-group__item--primary-300 {
	background: var(--color-primary-300);
}

.component-color-group__item--primary-400 {
	background: var(--color-primary-400);
}

.component-color-group__item--primary-500 {
	background: var(--color-primary-500);
}

.component-color-group__item--primary-600 {
	background: var(--color-primary-600);
}

.component-color-group__item--primary-700 {
	background: var(--color-primary-700);
}

.component-color-group__item--primary-800 {
	background: var(--color-primary-800);
}

.component-color-group__item--primary-900 {
	background: var(--color-primary-900);
}

.component-color-group__item--neutral-50 {
	background: var(--color-neutral-50);
}

.component-color-group__item--neutral-100 {
	background: var(--color-neutral-100);
}

.component-color-group__item--neutral-200 {
	background: var(--color-neutral-200);
}

.component-color-group__item--neutral-300 {
	background: var(--color-neutral-300);
}

.component-color-group__item--neutral-400 {
	background: var(--color-neutral-400);
}

.component-color-group__item--neutral-500 {
	background: var(--color-neutral-500);
}

.component-color-group__item--neutral-600 {
	background: var(--color-neutral-600);
}

.component-color-group__item--neutral-700 {
	background: var(--color-neutral-700);
}

.component-color-group__item--neutral-800 {
	background: var(--color-neutral-800);
}

.component-color-group__item--neutral-900 {
	background: var(--color-neutral-900);
}

// ---------------------------------------------------------------------------------------------------------------------
// Icons
.component-container--icons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
