@use "../mixins/richtext" as *;
@use "../bootstrap/typography" as *;
@use "../mixins/utilities" as utility;

// ---------------------------------------------------------------------------------------------------------------------
// Ueberschriften
.heading {
	margin-bottom: var(--spacing-heading);

	&:last-child {
		--spacer-heading: 0;
	}

	&--layout-1 {
		@extend .display-1;
	}

	&--layout-2 {
		@extend .display-2;
	}

	&--layout-3 {
		@extend .display-3;
	}

	&--layout-4 {
		@extend .display-4;
	}

	&--align-left {
		text-align: left;
	}

	&--align-center {
		text-align: center;
	}

	&--align-right {
		text-align: right;
	}

	& + .richtext {
		margin-top: var(--spacing-heading);
	}

	// Silbentrennung erst in schmalen Containern
	@container (width < 768px) {
		@include utility.hyphens;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Richtext (Bodytext)
.richtext {
	@include richtext;
}
