// ---------------------------------------------------------------------------------------------------------------------
// Variables
:root {
	--icon-container-size: 64px;
	--icon-container-ratio: auto;

	--icon-background-color: transparent;
	--icon-color: var(--color-font);
	--icon-size: 24px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Component
.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--icon-container-size);
	height: var(--icon-container-size);
	background: var(--icon-background-color);
	aspect-ratio: var(--icon-container-ratio);
}

.icon-container__source {
	width: var(--icon-size);
	height: var(--icon-size);
	color: var(--icon-color);
}

// ---------------------------------------------------------------------------------------------------------------------
// Variant
.icon-container--neutral {
	--icon-background-color: var(--color-neutral-200);
}

// ---------------------------------------------------------------------------------------------------------------------
// Ratio
.icon-container--ratio {
	height: auto;
}

.icon-container--ratio-1-1 {
	--icon-container-ratio: 1 / 1;
}

.icon-container--ratio-4-3 {
	--icon-container-ratio: 4 / 3;
}

.icon-container--ratio-16-9 {
	--icon-container-ratio: 16 / 9;
}