// ---------------------------------------------------------------------------------------------------------------------
// Variables
:root {
	--image-container-image-ratio: auto;
	--image-container-icon-size: 48px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Container
.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ---------------------------------------------------------------------------------------------------------------------
// Ratios
.image-container--ratio {
	aspect-ratio: var(--image-container-image-ratio);
}

.image-container--ratio-1-1 {
	--image-container-image-ratio: 1 / 1;
}

.image-container--ratio-16-9 {
	--image-container-image-ratio: 16 / 9;
}

// ---------------------------------------------------------------------------------------------------------------------
// Images
.image-container--picture {
	&.image-container--ratio {
		position: relative;

		.image-container__source {
			position: absolute;
			top: 0;	left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.image-container--icon {
	.image-container__source {
		width: var(--image-container-icon-size);
		height: var(--image-container-icon-size);
	}
}