<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<div id="a--{identifier}-container" class="collapse {f:if(condition: '{expanded}', then: 'show')}" aria-hidden="{f:if(condition: '{expanded}', then: 'false', else: 'true')}" aria-labelledby="a--{identifier}-header">
			<div class="accordion--container accordion--container-{f:if(condition: '{record.data.record_type} == \'ps14_accordion_default\'', then: 'default', else: 'record')}">
				<f:if condition="{record.data.record_type} == 'ps14_accordion_default'">
					<f:then><f:render section="Default" arguments="{_all}" /></f:then>
					<f:else><f:render section="Records" arguments="{_all}" /></f:else>
				</f:if>
			</div>
		</div>
	</f:section>

	<f:section name="Default">
		<div class="ce-bodytext">
			<f:format.html>{record.data.description}</f:format.html>
		</div>
	</f:section>

	<f:section name="Records">
		<f:format.raw>{record.content}</f:format.raw>
	</f:section>
</div>