<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:render section="Variant-{data.tx_foundation_variant}" optional="1" arguments="{_all}">
			<ul class="accordion">
				<f:for each="{elements}" as="record">
					<f:variable name="identifier">{data.uid}-{record.data.uid}</f:variable>
					<f:variable name="cssClass">
						accordion__item <f:if condition="{record.data.print_break}">print--break-{record.data.print_break}</f:if> <f:if condition="{record.data.print_visibility}">print--visibility-{record.data.print_visibility}</f:if>
					</f:variable>

					<li class="{cssClass -> fo:format.trim()}">
						<f:render partial="Accordion/Listing/Header" section="Main" arguments="{identifier: identifier, title: record.data.title, titleType: data.tx_foundation_elements_header, expanded: record.data.tx_accordion_active}" />
						<f:render partial="Accordion/Listing/Item" section="Main" arguments="{identifier: identifier, record: record, expanded: record.data.tx_accordion_active}" />
					</li>
				</f:for>
			</ul>
		</f:render>
	</f:section>
</div>