@mixin visually-hidden {
    /* 1. Element aus dem Fluss nehmen */
    position: absolute;

    /* 2. Größe auf 1px reduzieren */
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; /* Zieht das Element aus dem sichtbaren Bereich */

    /* 3. Inhalt verstecken */
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* Fallback für ältere Browser */
    clip-path: inset(50%); /* Moderner Standard */

    /* 4. Umbrüche verhindern */
    white-space: nowrap;
    border: 0;
}

@mixin hyphens {
    /* Fallback für extrem lange Strings (z.B. URLs), die sonst raus ragen */
    overflow-wrap: break-word;

    /* Silbentrennung aktivieren */
    -webkit-hyphens: auto;
    hyphens: auto;

    /* REGEL: Wort muss mind. 12 Zeichen lang sein */
    -webkit-hyphenate-limit-chars: 12 6 4;
    hyphenate-limit-chars: 12 6 4;
}
