// ---------------------------------------------------------------------------------------------------------------------
// Import
@use "../bootstrap/iconfont" as *;

// ---------------------------------------------------------------------------------------------------------------------
// Variables
:root {
	--link-color: var(--color-font);
	--link-font-weight: var(--font-weight-semibold);
	--link-underline-color: var(--color-gray-200);
	--link-active-color: #000;
	--link-active-underline-color: var(--color-gray-900);
	--link-focus-outline-color: var(--color-gray-900);
}

// ---------------------------------------------------------------------------------------------------------------------
// Defintions
%link-default {
	font-weight: var(--link-font-weight);
	color: var(--link-color);
	text-decoration: underline;
	text-decoration-color: var(--link-underline-color);
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	transition-property: color, text-decoration;
	transition-duration: var(--transition-duration-default);
}

%link-default-hover {
	color: var(--link-active-color);
	text-decoration-color: var(--link-active-underline-color);
}

%link-default-focus {
	color: var(--link-active-color);
	text-decoration-color: var(--link-active-underline-color);
	border-radius: 1px;
	outline: var(--link-focus-outline-color) solid 2px;
	outline-offset: 3px;
}

%link-external {
	&::before {
		@extend %icon-font;
		content: var(--icon-font-arrow-outward);
	}
}

%link-download {
	&::before {
		@extend %icon-font;
		content: var(--icon-font-arrow-bar-down);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Classes
.link {
	@extend %link-default;
}

.link:hover {
	@extend %link-default-hover;
}

.link:focus-visible {
	@extend %link-default-focus;
}

.link--external {
	@extend %link-external;
}

.link--download {
	@extend %link-download;
}
