@use "../functions" as *;

%list--default-ul,
%list--default-ol {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: rem(4px);
	padding: 0;
}

%list--default-ul {
	li {
		position: relative;
		padding: rem(0, 0, 0, 16px);
	}

	li::before {
		content: '';
		position: absolute;
		top: 10px; left: 2px;
		border: 2px solid var(--color-gray-300);
		border-radius: 1px;
	}

	ul {
		margin-top: 0;
		padding: 0;
	}
}

%list--default-ol {
	counter-reset: ol;

	li {
		position: relative;
		padding: rem(0, 0, 0, 20px);
		counter-increment: ol;
	}

	li::before {
		content: counter(ol) ".";
		position: absolute;
		top: 0; left: 0;
		font-size: rem(16px);
		font-weight: var(--font-weight-semibold);
		color: var(--color-gray-300);
	}

	ol li::before {
		content: counter(ol, lower-latin) ".";
	}
}