<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Default">
		<f:if condition="{field.css} != 'nolabel'">
			<label for="form__field--{field.marker}" class="form__label {settings.styles.framework.labelClasses}">
				<f:render section="Body" arguments="{_all}" />
			</label>
		</f:if>
	</f:section>

	<f:section name="Standalone">
		<f:if condition="{field.css} != 'nolabel'">
			<label class="form__label {settings.styles.framework.labelClasses}">
				<f:render section="Body" arguments="{_all}" />
			</label>
		</f:if>
	</f:section>

	<f:section name="Body">
		<vh:string.escapeLabels>{field.title}</vh:string.escapeLabels>
		<f:if condition="{field.mandatory}"><span class="form__label-mandatory">(<f:translate key="LLL:EXT:ps14_powermail/Resources/Private/Language/locallang_frontend.xlf:field.mandatory" />)</span></f:if>
		<f:if condition="{field.description}"><span class="form__label-description">({field.description})</span></f:if>
	</f:section>
</html>
