<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:section name="Main">
    <div id="header" class="container-outer page-header">
      <div class="container-inner">
        <f:render partial="Page/Layout/Logo" section="Main" arguments="{_all}" />
        <f:render section="Hamburger" />

        <div id="off-canvas" class="off-canvas">
          <f:render partial="Page/Layout/Search" section="Icon" arguments="{settings: '{fo:settings.get(extension: \'Ps14Foundation\')}'}" />
          <f:render partial="Page/Layout/Search" section="Field" arguments="{settings: '{fo:settings.get(extension: \'Ps14Foundation\')}'}" />

          <f:if condition="{navigationLanguage}">
            <f:render partial="Page/Navigation/Language" section="Main" arguments="{_all}" />
          </f:if>

          <f:if condition="{navigationMain}">
            <f:render partial="Page/Navigation/Main" section="Main" arguments="{_all}" />
          </f:if>

          <f:if condition="{navigationMeta}">
            <f:render partial="Page/Navigation/Meta" section="Main" arguments="{_all}" />
          </f:if>
        </div>
      </div>
    </div>

    <f:if condition="{breadcrumb} && {data.tx_foundation_disable_breadcrumb} == 0">
      <f:render partial="Page/Navigation/Breadcrumb" section="Main" arguments="{_all}" />
    </f:if>
  </f:section>

  <f:section name="Hamburger">
    <button class="hamburger hamburger--layout-0" type="button" aria-label="{f:translate(key: 'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:offcanvas.toggle')}" aria-controls="off-canvas">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
    </button>
  </f:section>
</div>