<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Icon">
		<f:link.page pageUid="{settings.pages.search}" class="search-widget search-widget--link" additionalAttributes="{aria-expanded: 'false', aria-controls: 'search-widget--field', aria-label: '{f:translate(key: \'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:search.link\')}'}">
			<fo:svg.inline source="assets/svg/search.svg" />
		</f:link.page>
	</f:section>

	<f:section name="Field">
		<form action="{f:uri.page(pageUid: settings.pages.search)}" class="search-widget search-widget--field" id="search-widget--field">
			<input type="text" class="search-widget--keyword" name="q" aria-label="{f:translate(key: 'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:search.placeholder')}" placeholder="{f:translate(key: 'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:search.placeholder')}" tabindex="-1" />
			<button class="search-widget--submit" type="submit" aria-label="{f:translate(key: 'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:search.submit')}" tabindex="-1">
				<fo:svg.inline source="assets/svg/search.svg" />
			</button>
			<button class="search-widget--close" type="button"  aria-label="{f:translate(key: 'LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:search.close')}" tabindex="-1">
				<fo:svg.inline source="assets/svg/close.svg" />
			</button>
		</form>
	</f:section>
</div>