<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Container">
	<div class="sticky--container">
		<f:render section="PrintPdf" arguments="{_all}" />
		<f:render section="Contact" arguments="{_all}" />
		<f:render section="ToTop" arguments="{_all}" />
	</div>
</f:section>

<f:section name="PrintPdf">
	<div class="sticky--element sticky--element-print-pdf">
		<a class="sticky--icon" aria-label="{f:translate(key: 'LLL:EXT:ps14_site/Resources/Private/Language/locallang_frontend.xlf:sticky.print-pdf')}" href="{f:cObject(typoscriptObjectPath: 'block.linkToPdf')}" target="_blank">
			<fo:svg.inline source="assets/svg/print-pdf.svg" />
		</a>
	</div>
</f:section>

<f:section name="Contact">
	<div class="sticky--element sticky--element-contact">
		<a class="sticky--icon" aria-label="{f:translate(key: 'LLL:EXT:ps14_site/Resources/Private/Language/locallang_frontend.xlf:sticky.contact')}" data-target="#contact-search--form" href="{f:uri.page(pageUid: settings.pages.contact)}">
			<fo:svg.inline source="assets/svg/contact.svg" />
		</a>
	</div>
</f:section>

<f:section name="ToTop">
	<div class="sticky--element sticky--element-totop">
		<button class="sticky--icon" aria-label="{f:translate(key: 'LLL:EXT:ps14_site/Resources/Private/Language/locallang_frontend.xlf:sticky.to-top')}">
			<fo:svg.inline source="assets/svg/arrow-top.svg" />
		</button>
	</div>
</f:section>
</html>