// ---------------------------------------------------------------------------------------------------------------------
// Define Variables
$stylesheet-context: 'screen', 'print', 'embed', 'import' !default;

$iconfont-create-font-face: true !default;
$iconfont-create-icon-class: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import 'functions';
@import 'variables';
@import 'mixins';
@import 'definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Root
@import 'reboot';
@import 'iconfont';
@import 'type';
@import 'font';

// ---------------------------------------------------------------------------------------------------------------------
// Vendors
@import 'vendors/tiny-slider';

// ---------------------------------------------------------------------------------------------------------------------
// Components
@import 'iconfont';
@import 'components/grid';
@import 'components/link';
@import 'components/list';
@import 'components/button';
@import 'components/table';
@import 'components/form';
@import 'components/badge';
@import 'components/media';
@import 'components/responsive-table';
@import 'components/readmore-container';
@import 'components/loader';
@import 'components/collapse';
@import 'components/tab';
@import 'components/accessibility';
@import 'components/card';

// ---------------------------------------------------------------------------------------------------------------------
// Modules
@import 'modules/hero';
@import 'modules/menu';
@import 'modules/accordion';
@import 'modules/marker';
@import 'modules/teaser';
@import 'modules/downloads';
@import 'modules/address';
@import 'modules/contact';
@import 'modules/powermail';
@import 'modules/timeline';
@import 'modules/kist-values';
@import 'modules/news';
@import 'modules/search';
@import 'modules/product-frontend';
@import 'modules/product-keyfact';
@import 'modules/chart';
@import 'modules/text-image';

// ---------------------------------------------------------------------------------------------------------------------
// Layout
@import 'components/navigation';
@import 'components/navigation/breadcrumb';
@import 'components/navigation/language';
@import 'components/layout/hamburger';
@import 'components/layout/search-widget';
@import 'components/layout/flash';
@import 'components/layout/sticky';
@import 'components/layout/sticky';

@import 'layout/layout-inline';
@import 'layout/layout';
@import 'layout/layout-print';
