<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default"/>

  <f:section name="Header">
    <f:if condition="{data.tx_foundation_variant} == 'default'">
      <f:render partial="Header/All" arguments="{_all}" />
    </f:if>
  </f:section>

  <f:section name="Main">
    <f:render section="{data.tx_foundation_variant -> fo:format.pascalCase()}" arguments="{_all}" optional="true">
      <f:render partial="Content/Bodytext" arguments="{bodytext: data.bodytext}" />
    </f:render>
  </f:section>

  <f:section name="BackgroundMedia">
    <f:if condition="{data.tx_foundation_variant} == 'default'">
      <f:then>
        <f:render partial="Content/BackgroundMedia" section="Main" arguments="{_all}" />
      </f:then>
      <f:else>
        <f:if condition="{background_media}">
          <div class="container__media slider">
            <div class="container__media-group">
              <f:for each="{background_media}" as="media">
                <f:render partial="Media/Main" section="Rendering" arguments="{
                  file: media,
                  settings: '{fo:settings.get(extension: \'Ps14Foundation\', path: \'content.backgroundMedia\')}',
                  cssClass: 'container__media-item',
                  lazyload: data.image_lazyload
              }" />
              </f:for>
            </div>
            <f:render section="SliderNavigation" arguments="{_all}" />
          </div>
        </f:if>
      </f:else>
    </f:if>
  </f:section>

  <f:section name="MediaLeft">
    <div class="container__body">
      <f:render partial="Header/All" arguments="{_all}" />
      <f:render partial="Content/Bodytext" arguments="{bodytext: data.bodytext}" />
    </div>
  </f:section>

  <f:section name="MediaRight">
    <div class="container__body">
      <f:render partial="Header/All" arguments="{_all}" />
      <f:render partial="Content/Bodytext" arguments="{bodytext: data.bodytext}" />
    </div>
  </f:section>

  <f:section name="SliderNavigation">
    <f:if condition="{background_media}">
      <div class="slider--navigation">
        <div class="slider--navigation-inner">
          <ul>
            <f:for each="{background_media}" as="image" iteration="iterator">
              <li><button><span>{iterator.cycle}</span></button></li>
            </f:for>
          </ul>
        </div>
      </div>
    </f:if>
  </f:section>
</html>
